@{
    ViewBag.Title = "User Guide";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p> This is a small user guide, aimed to explain basics of using my app to you. </p>

<p>First thing user should do, working with my web-application - is authorization. You may authorize by clicking the "Log in" link above.</p>
<p>If you have never created an account at my library, you have to registrate first. </p>
<p>To do that click "Ragistration" link above. To ragistrate you`re going to have to input you e-mail adress.</p>
<p>You will receive notifications about books, you will have taken from the library on this e-mail.</p>
<p>As a regular user you can view books, take them in case they`re available and view a "history card" of each book.</p>
<p>History card contains information of by whom and when the book was taken. <b>So don`t mess with the library.</b></p>
<p>When user is authorized there will be a link with his e-mail adress at the top of the page.</p>
<p>By clicking on that link you`ll acces the history of the user. It contains list of books he`s ever taken and datetime records.</p>

<p> </p>
<p><b>Test e-mails:</b></p>
<p>Admin account: library_dimka1@ukr.net</p>
<p>User accounts: library_dimka2@ukr.net</p>
<p>               library_dimka3@ukr.net</p>
<p>               library_dimka4@ukr.net</p>

<p><b>All email accounts have the same password: 12365478 </b></p>